<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="footer_info">
    <div class="container text-center">
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Text 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Text 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Text 3</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Text 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Text 2</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Text 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Text 2</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">© 2013 Company Name.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Terms of Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>