<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header_info (vm=${changePassword.getLayoutHeaderVM()})"></div>


<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/user/change-password}" th:object="${changePassword}" method="post">
                <fieldset>
                    <h1>Change password</h1>

                    <div th:if="${param.success}">
                        <div class="alert alert-primary">
                            Change password success !!
                        </div>
                    </div>

                    <div th:if="${param.fail}">
                        <div class="alert alert-danger">
                            Change password fail !!
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Old password:</label>
                        <input type="password" class="form-control" id="currentPassword" th:field="*{currentPassword}" name="currentPassword" />
                    </div>
                    <div class="form-group">
                        <label>New password:</label>
                        <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" name="newPassword" />
                    </div>
                    <div class="form-group">
                        <label>Confirm password:</label>
                        <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" name="confirmPassword" />
                    </div>
                    <button class="btn btn-primary" type="submit">Change password</button>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer_info"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>